body {
    
    color: white;
    font-family: sans-serif;
}
.crossed {
text-decoration: line-through;
}


.navmenu h1{
   display: flex;
    font-size: 60px;
}
.navmenu p {
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
    padding-bottom: 20px;
}
input {
    width: 80%;
    height: 40px;
}
*{
    margin: 0%;
    padding: 0%;
}
.navtext {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#to-do { 
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
}
header {
   
    background-color:#4796e5;
    padding: 40px;
}
#to-do button{ 
    width: 70px;
    height: 30px;
    background-color: #4796e5;
    border: 1px solid white;
    color: white;
    margin-top: 10px;
}
.buttoms{
    padding: 40px 20px;
    display: flex;
}
.buttoms button {
    width: 80px;
    height: 30px;
    margin-right: 2px;
    margin-left: 2px;
}
h2 {
    color: grey;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.buttoms h3 {
    font-size: 30px;
    color: grey;
}